<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Collection App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <div class="container">
        <div class="top-header">
            <h2 class="title"><%= heading %></h2>
        </div>
        <hr>
        <% if (locals.book) { %>
            <form class="add-form" action="/update" method="post">
            <div class="form-element">
                <label for="title" >Title:</label>
                <input type="text" class="add-title" name="title" placeholder="Atomic habits By James Clear" value="<%= book.book_name %>" required>
            </div>
            <div class="form-element">
                <label for="rating" >Rating:</label>
                <input type="number" class="add-title" name="rating" placeholder="( __ out of 10?)" value="<%= book.rating %>" required>
            </div>
            <div class="form-element">
                <label for="description" >Description:</label>
                <textarea  class="add-description" placeholder="Description about above book you have idea about. " name="description" required><%= book.description %></textarea>
            </div>
            <button type="submit" class="submit-btn"><%= text %></button>
        </form>
        <% } else { %>
            <form class="add-form" action="/post" method="post">
                <div class="form-element">
                    <label for="title" >Title:</label>
                    <input type="text" class="add-title" name="title" placeholder="Atomic habits By James Clear" required>
                </div>
                <div class="form-element">
                    <label for="rating" >Rating:</label>
                    <input type="number" class="add-title" name="rating" placeholder="( __ out of 10?)" required>
                </div>
                <div class="form-element">
                    <label for="description" >Description:</label>
                    <textarea  class="add-description" placeholder="Description about above book you have idea about. " name="description" required></textarea>
                </div>
                <button type="submit" class="submit-btn"><%= text %></button>
            </form>
        <% } %>
    </div>
<%- include('partials/footer.ejs') %>